body{width:100%;color:rgb(79, 131, 235); background:url(plugin/b1.jpg) repeat-x;_background:url(plugin/b1.jpg) repeat-x;background:#e8e8e8;font-family: 'Trebuchet MS',Helvetica, sans-serif}
#header{width:100%;height:130px;border:1px solid;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;border-top-left-radius:6px;border-top-right-radius:6px;-khtml-border-top-left-radius:6px;-khtml-border-top-right-radius:6px;background-color:rgb(79, 131, 235);background-color:rgb(79, 131, 235);border-color:rgb(147, 175, 231);cursor:pointer;font-family: 'Trebuchet MS',Helvetica, sans-serif}
#head-title{padding-top:20px;font-weight:700;font-size:45px;color:#fff}
#font{margin-left:10px}
#template{text-align:left;width:100%;margin:10px auto 0;height:120px}
#head-description{float:right;font-size:20px;font-style:italic;padding-top:5px;padding-right:25px;font-family: 'Trebuchet MS',Helvetica, sans-serif}
#body{margin:0;text-align:center;font-family: 'Trebuchet MS',Helvetica, sans-serif;font-size:12px;background:#fff;width:100%; background:url(plugin/b1.jpg) repeat-x;_background:url(plugin/b1.jpg) repeat-x}
h1{font-size:18px;font-weight:400}
h2{font-size:16px;font-weight:400}
h3{font-size:14px;font-weight:400}
h4{font-size:12px;font-weight:400}
h5{font-size:11px;font-weight:400}
h6{font-size:10px;font-weight:400}
a{text-decoration:none}
a:hover{text-decoration:underline}
#content{height:auto; width:1000px; margin:0}
.error-doc{padding:40px 15px;border:1px solid}
#clear-end{clear:both}
#footer{width:75%;margin-left:30px;padding-top:20px;clear:both;text-align:center;color:rgb(147, 175, 231)}
#copy{font-family: 'Trebuchet MS',Helvetica, sans-serif;font-weight:700;color:#666}
#ssc a{color:#0d4a01}
#ssc a:hover{color:#f50c0c}
#first{border:3px solid #bbe4ff;float:left;width:300px;height:300px;font-size:12px;font-family: 'Trebuchet MS',Helvetica, sans-serif;border:2px solid #d2691e;border-radius:25px;margin-top:10px}
#first h2{color:#fff;font-size:12px;font-weight:700;text-align:left;padding:3px 0 8px 5px;margin:0}
#second{border:3px solid #bbe4ff;float:left;width:300px;height:300px;font-size:12px;font-family: 'Trebuchet MS',Helvetica, sans-serif;border:2px solid #d2691e;border-radius:25px;margin-top:10px;margin-left:38px}
#second h2{color:#fff;font-size:12px;font-weight:700;text-align:left;padding:3px 0 8px 5px;margin:0}
#third{border:3px solid #bbe4ff;float:left;width:300px;height:300px;font-size:12px;font-family: 'Trebuchet MS',Helvetica, sans-serif;border:2px solid #d2691e;border-radius:25px;margin-top:10px}
#third h2{color:#fff;font-size:12px;font-weight:700;text-align:left;padding:3px 0 8px 5px;margin:0}
#box-head1{font-size:x-large;background-color:#930;height:40px;color:#fff;padding-top:5px;border:2px solid;border-radius:25px;margin-top:-1px}
#box-head2{font-size:x-large;background-color:#930;height:40px;color:#fff;padding-top:5px;border:2px solid;border-radius:25px;margin-top:-1px}
#box-head3{font-size:x-large;background-color:#930;height:40px;color:#fff;padding-top:5px;border:2px solid;border-radius:25px;margin-top:-1px}
#hmenu{height:55px;background-color:rgb(147, 175, 231);margin-top:0;width:100%}
#hmenu ul{margin:0;padding:0;list-style:none;float:left;}
#hmenu ul.hmenu{padding-left:0px}
#hmenu li{position:relative;z-index:9;margin:0;padding:0;display:block;float:left;width: 124px;border-left:solid 1px white;}
#hmenu li:hover>ul{left:-2px}
#hmenu li div{list-style:none;float:left;position:absolute;top:50px;left:0;width:208px;z-index:11;visibility:hidden;padding:0 0 9px 7px;_padding:0 0 9px 3px;background:url(submenu-bottom.png) no-repeat 7px bottom;_background-image:url(submenu-bottom.gif);margin:0 0 0 -9px}
#hmenu li:hover>div{visibility:visible}
#hmenu li.current a{}
#hmenu a{position:relative;z-index:10;font-size: 14px;height:55px;display:block;background-color: rgb(147, 175, 231);float:left;padding:0 10px;line-height:55px;text-decoration:none}
#hmenu span{font:12px  'Trebuchet MS',Helvetica, sans-serif;padding-top:18px;color:#fff;font-weight:700;text-transform:uppercase;display:block;cursor:pointer;background-repeat:no-repeat}
#hmenu ul a:hover span{color:#930}
#hmenu li{background:url(nav_separator.png) top left no-repeat}
#hmenu li.last span{background:url(nav_separator.png) top right no-repeat;padding:18px 10px 16px 0}
#horizontal{height:100px;width:950px;border:3px solid #bbe4ff;border:2px solid #d2691e;border-radius:25px;margin-top:30px}
#result ul{list-style:none;float:left;padding-left:4px;font-weight:700}
#result ul li a{list-style:none;float:left;padding-left:4px;font-weight:700;color:rgb(147, 175, 231)}
#result ul li a:hover{list-style:none;float:left;padding-left:4px;font-weight:700;color:#903;font-size:16px}
.parent{color:white}

@media (max-width: 991px){
    td { font-size: 28px;}
     h2 { font-size: 25px;}
    }
@media (max-width: 767px){
     h2 { font-size: 32px;}
    td { font-size: 30px;}
    ul li{ font-size: 30px;}
}

@media(min-width: 992px){
}
@media(min-width: 768px) and (max-width:991px){
    td {
        font-size: 14px;
    }
    h2 { font-size: 15px;}
    ul li{ font-size: 15px;}
    p{font-size: 15px;}
    #head-subtable td{
        font-size: 15px;
    }
    #body-subtable{
        width: 600px;
    }
    #body-subtable h2{
        font-size: 15;
    }
    #header{
        width: 110%;
    }
    #hmenu{
        height: 40px;
        width: 110%;
    }
    #hmenu li{
        width: auto;
        height: 40px;
    }
    #hmenu li a{
        font-size: 10px;
        height: 40px;
        line-height: 15px;
        padding: 0px;
        width:69px;
    }
    .footer-list li a{
        font-size: 50px;
    }
    #ios{
        width: 33%;
    }
}
@media(min-width: 575px) and (max-width:767px){
    td {
        font-size: 14px;
    }
    h2 { font-size: 15px;}
    ul li{ font-size: 15px;}
    p{font-size: 15px;}
    #head-subtable td{
        font-size: 15px;
    }
    #body-subtable{
        width: 600px;
    }
    #body-subtable h2{
        font-size: 15;
    }
    #header{
        width: 110%;
    }
    #hmenu{
        height: 40px;
        width: 110%;
    }
    #hmenu li{
        width: auto;
        height: 40px;
    }
    #hmenu li a{
        font-size: 10px;
        height: 40px;
        line-height: 15px;
        padding: 0px;
        width:51px;
    }
    .footer-list li a{
        font-size: 50px;
    }
    #ios{
        width: 33%;
    }
}
@media(min-width: 480px) and (max-width:574px){
    td {
        font-size: 14px;
    }
    h2 { font-size: 15px;}
    ul li{ font-size: 15px;}
    p{font-size: 15px;}
    #head-subtable td{
        font-size: 15px;
    }
    #body-subtable{
        width: 400px;
    }
    #body-subtable h2{
        font-size: 15;
    }
    #header{
        width: 110%;
    }
    #hmenu{
        height: 40px;
        width: 110%;
    }
    #hmenu li{
        width: auto;
        height: 40px;
    }
    #hmenu li a{
        font-size: 10px;
        height: 40px;
        line-height: 15px;
        padding: 0px;
        width:43.2px;
    }
    .footer-list li a{
        font-size: 50px;
    }
    #ios{
        width: 33%;
    }
}
@media(max-width:479px){    
}